{% extends "base.html" %}

{% block tabela%}
<div class="col">
    <div class="row">
        <div class="col-8" >
            <h1 class="title h6">Diagnostic Status</h1>
            <table class="table caption-top">
                <tbody>
                    <tr>
                        <td scope="row">Subfield Error</td>
                        <td style="background: rgb(4, 26, 124, 0.5);">{{kpi2.Subfield_Error}}%</td>

                        <td scope="row">Decode File Not Found</td>
                        <td style="background: rgb(112, 174, 255, 0.5);">{{kpi2.Decode_File_Not_Found}}%</td>
                    </tr>

                    <tr>
                        <td scope="row">Response Empty</td>
                        <td style="background: rgb(199, 238, 238, 0.5);">{{kpi2.Response_Empty}}%</td>

                        <td scope="row">Error Parsing Message</td>
                        <td style="background: rgb(4, 26, 124, 0.5);">{{kpi2.Error_Parsing_Message}}%</td>
                    </tr>
                    <tr>
                        <td scope="row">Success</td>
                        <td style="background: rgb(112, 174, 255, 0.5);">{{kpi2.Success}}%</td>

                        <td scope="row">Negative Response</td>
                        <td style="background: rgb(199, 238, 238, 0.5);">{{kpi2.Negative_Response}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--KPI2-->

        <!--KPI9-->
        <div class="col-4">
            <h1 class="title h6">File used to decode</h1>
            <table class="table caption-top">
                <tbody>
                    <tr>
                        <td>MDX</td>
                        <td style="background: rgb(4, 26, 124, 0.5);">{{kpi9.MDX}}%</td>

                        <td>No Response</td>
                        <td style="background: rgb(4, 26, 124, 0.5);">{{kpi9.No_Response}}%</td>
                    </tr>
                    <tr>
                        <td>GDX</td>
                        <td style="background: rgb(112, 174, 255, 0.5);">{{kpi9.GDX}}%</td>

                        <td>Not Decoded</td>
                        <td style="background: rgb(112, 174, 255, 0.5);">{{kpi9.Not_Decoded}}%</td>
                    </tr>
                    <tr>
                        <td>Not in MDX/GDX</td>
                        <td style="background: rgb(199, 238, 238, 0.5);">{{kpi9.Not_in_MDX_GDX}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock tabela%}

{% block content %}
<h1></h1>
<script type="text/javascript">

    const kpi1_obj = {{ kpi1| safe}}

    const kpi2_obj = {{ kpi2| safe}}

    const kpi3_obj = {{ kpi3| safe}}

    const kpi4_did_obj = {{ kpi4_did| safe}}
    const kpi4_obj = {{ kpi4| safe}}

    const kpi5_obj = {{ kpi5| safe}}

    const kpi6_obj = {{ kpi6| safe}}

    const kpi7_did_obj = {{ kpi7_did| safe}}
    const kpi7_obj = {{ kpi7| safe}}

    const kpi8_obj = {{ kpi8| safe}}

    const kpi9_obj = {{ kpi9| safe}}




    console.log(kpi8_obj)

    const ctx = document.getElementById('kpi1');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: kpi1_obj.label,
            datasets:
                [
                    {
                        data: kpi1_obj.values,
                        backgroundColor: [
                            kpi1_obj.color[0],
                            kpi1_obj.color[1],
                            kpi1_obj.color[2],
                        ],
                        borderColor: [
                            kpi1_obj.color[0],
                            kpi1_obj.color[1],
                            kpi1_obj.color[2],
                        ],
                        borderWidth: 1
                    }
                ]
        },
        options: {
            plugins:{
                legend:{
                    display: false
                }
            },
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });


    const ctx3 = document.getElementById('kpi3');
    const myChart3 = new Chart(ctx3, {
        type: 'bar',
        data:
        {
            labels: kpi3_obj.did,
            datasets:
                [
                    {
                        label: 'Negative_Response',
                        data: kpi3_obj.Negative_Response,
                        backgroundColor: [
                            kpi3_obj.color[0],
                        ],
                        borderColor: [
                            kpi3_obj.color[0],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Null_Response',
                        data: kpi3_obj.Null_Response,
                        backgroundColor: [
                            kpi3_obj.color[1],
                        ],
                        borderColor: [
                            kpi3_obj.color[1],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Positive_Response',
                        data: kpi3_obj.Positive_Response,
                        backgroundColor: [
                            kpi3_obj.color[2],
                        ],
                        borderColor: [
                            kpi3_obj.color[2],
                        ],
                        borderWidth: 1
                    },

                ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    stacked: true,
                },
                x: {
                    beginAtZero: true,
                    stacked: true,
                }
            }
        }
    });



    const ctx4 = document.getElementById('kpi4');
    const myChart4 = new Chart(ctx4, {
        type: 'doughnut',
        data: {
            labels: kpi4_obj.label,
            datasets: [{
                label: '',
                data: kpi4_obj.values,
                backgroundColor: [
                    kpi4_obj.color[0],
                    kpi4_obj.color[1],
                    kpi4_obj.color[2],
                ],
                borderColor: [
                    kpi4_obj.color[0],
                    kpi4_obj.color[1],
                    kpi4_obj.color[2],
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });




    const ctx4_did = document.getElementById('kpi4_did');
    const myChart4_did = new Chart(ctx4_did, {
        type: 'bar',
        data: {
            labels: kpi4_did_obj.did,
            datasets:
                [
                    {
                        label: 'Byte_Size_Error',
                        data: kpi4_did_obj.Byte_Size_Error,
                        backgroundColor: [
                            kpi4_did_obj.color[0],
                        ],
                        borderColor: [
                            kpi4_did_obj.color[0],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'No_Byte_Size_Error',
                        data: kpi4_did_obj.No_Byte_Size_Error,
                        backgroundColor: [
                            kpi4_did_obj.color[1],
                        ],
                        borderColor: [
                            kpi4_did_obj.color[1],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'No_Error',
                        data: kpi4_did_obj.No_Error,
                        backgroundColor: [
                            kpi4_did_obj.color[2],
                        ],
                        borderColor: [
                            kpi4_did_obj.color[2],
                        ],
                        borderWidth: 1
                    },
                ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });




    const ctx5 = document.getElementById('kpi5');
    const myChart5 = new Chart(ctx5, {
        type: 'bar',
        data: {
            labels: kpi5_obj.did,
            datasets:
                [
                    {
                        label: 'In_range',
                        data: kpi5_obj.In_range,
                        backgroundColor: [
                            kpi5_obj.color[0],
                        ],
                        borderColor: [
                            kpi5_obj.color[0],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Min_Max_Not_Found',
                        data: kpi5_obj.Min_Max_Not_Found,
                        backgroundColor: [
                            kpi5_obj.color[1],
                        ],
                        borderColor: [
                            kpi5_obj.color[1],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Not_applicable',
                        data: kpi5_obj.Not_applicable,
                        backgroundColor: [
                            kpi5_obj.color[2],
                        ],
                        borderColor: [
                            kpi5_obj.color[2],
                        ],
                        borderWidth: 1
                    },
                ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const ctx6 = document.getElementById('kpi6');
    const myChart6 = new Chart(ctx6, {
        type: 'doughnut',
        data: {
            labels: kpi6_obj.label,
            datasets:
                [
                    {
                        data: kpi6_obj.values,
                        backgroundColor: [
                            kpi6_obj.color[0],
                            kpi6_obj.color[1],
                            kpi6_obj.color[2],
                        ],
                        borderColor: [
                            kpi6_obj.color[0],
                            kpi6_obj.color[1],
                            kpi6_obj.color[2],
                        ],
                        borderWidth: 1
                    }
                ]
        },
        options: {
            plugins:{
                legend:{
                    display: false
                }
            },
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });



    const ctx7 = document.getElementById('kpi7');
    const myChart7 = new Chart(ctx7, {
        type: 'doughnut',
        data: {
            labels: kpi7_obj.label,
            datasets:
                [
                    {
                        label: '',
                        data: kpi7_obj.values,
                        backgroundColor: [
                            kpi7_obj.color[0],
                            kpi7_obj.color[1],
                            kpi7_obj.color[2],
                        ],
                        borderColor: [
                            kpi7_obj.color[0],
                            kpi7_obj.color[1],
                            kpi7_obj.color[2],
                        ],
                        borderWidth: 1
                    }
                ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });




    const ctx7_did = document.getElementById('kpi7_did');
    const myChart7_did = new Chart(ctx7_did, {
        type: 'bar',
        data: {
            labels: kpi7_did_obj.did,
            datasets:
                [
                    {
                        label: 'Decoded',
                        data: kpi7_did_obj.Decoded,
                        backgroundColor: [
                            kpi7_did_obj.color[0],
                        ],
                        borderColor: [
                            kpi7_did_obj.color[0],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Error_Message',
                        data: kpi7_did_obj.Error_Message,
                        backgroundColor: [
                            kpi7_did_obj.color[1],
                        ],
                        borderColor: [
                            kpi7_did_obj.color[1],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Negative_Response',
                        data: kpi7_did_obj.Negative_Response,
                        backgroundColor: [
                            kpi7_did_obj.color[2],
                        ],
                        borderColor: [
                            kpi7_did_obj.color[2],
                        ],
                        borderWidth: 1
                    },
                ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock content %}