{% extends "base.html" %}

{% block content %}
<h1></h1>
<script type="text/javascript">
    const color = {{color|safe}}

    console.log({{kpi2|safe}})
    const ctx = document.getElementById('kpi1');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });

    
    const ctx3 = document.getElementById('kpi3');
    const myChart3 = new Chart(ctx3, {
        type: 'bar',
        data: 
        {
            labels: {{did|safe}},
            datasets: 
            [
                {
                    label: 'Decode_File_Not_Found',
                    data: {{Decode_File_Not_Found|safe}},
                    backgroundColor: [
                        color[0],
                    ],
                    borderColor: [
                        color[0],
                    ],
                    borderWidth: 1
                }, 
                {
                    label: 'Success',
                    data: {{Success|safe}},
                    backgroundColor: [
                        color[1],
                    ],
                    borderColor: [
                        color[1],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Error_Parsing_Message',
                    data: {{Error_Parsing_Message|safe}},
                    backgroundColor: [
                        color[2],
                    ],
                    borderColor: [
                        color[2],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Negative_Response',
                    data: {{Negative_Response|safe}},
                    backgroundColor: [
                        color[3],
                    ],
                    borderColor: [
                        color[3],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Response_Empty',
                    data: {{Response_Empty|safe}},
                    backgroundColor: [
                        color[4],
                    ],
                    borderColor: [
                        color[4],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Subfield_Error',
                    data: {{Response_Empty|safe}},
                    backgroundColor: [
                        color[5],
                    ],
                    borderColor: [
                        color[5],
                    ],
                    borderWidth: 1
                },
                
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    stacked: true,
                },
                x: {
                    beginAtZero: true,
                    stacked: true,
                }
            }
        }
    });



    const ctx4 = document.getElementById('kpi4');
    const myChart4 = new Chart(ctx4, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });




    const ctx4_did = document.getElementById('kpi4_did');
    const myChart4_did = new Chart(ctx4_did, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });




    const ctx5 = document.getElementById('kpi5');
    const myChart5 = new Chart(ctx5, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });


    const ctx6 = document.getElementById('kpi6');
    const myChart6 = new Chart(ctx6, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });



    const ctx7 = document.getElementById('kpi7');
    const myChart7 = new Chart(ctx7, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });




    const ctx7_did = document.getElementById('kpi7_did');
    const myChart7_did = new Chart(ctx7_did, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock content %}