{% extends "base.html" %}

{% block content %}
<h1></h1>
<script type="text/javascript">

    const kpi3_obj = {{ kpi3| safe}}

    const kpi4_did_obj = {{ kpi4_did| safe}}
    const kpi4_obj = {{ kpi4| safe}}

    const kpi7_did_obj = {{ kpi7_did| safe}}
    const kpi7_obj = {{ kpi7| safe}}




    console.log(kpi7_obj)

    const ctx = document.getElementById('kpi1');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });


    const ctx3 = document.getElementById('kpi3');
    const myChart3 = new Chart(ctx3, {
        type: 'bar',
        data:
        {
            labels: kpi3_obj.did,
            datasets:
                [
                    {
                        label: 'Decode_File_Not_Found',
                        data: kpi3_obj.Decode_File_Not_Found,
                        backgroundColor: [
                            kpi3_obj.color[0],
                        ],
                        borderColor: [
                            kpi3_obj.color[0],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Success',
                        data: kpi3_obj.Success,
                        backgroundColor: [
                            kpi3_obj.color[1],
                        ],
                        borderColor: [
                            kpi3_obj.color[1],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Error_Parsing_Message',
                        data: kpi3_obj.Error_Parsing_Message,
                        backgroundColor: [
                            kpi3_obj.color[2],
                        ],
                        borderColor: [
                            kpi3_obj.color[2],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Negative_Response',
                        data: kpi3_obj.Negative_Response,
                        backgroundColor: [
                            kpi3_obj.color[3],
                        ],
                        borderColor: [
                            kpi3_obj.color[3],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Response_Empty',
                        data: kpi3_obj.Response_Empty,
                        backgroundColor: [
                            kpi3_obj.color[4],
                        ],
                        borderColor: [
                            kpi3_obj.color[4],
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Subfield_Error',
                        data: kpi3_obj.Response_Empty,
                        backgroundColor: [
                            kpi3_obj.color[5],
                        ],
                        borderColor: [
                            kpi3_obj.color[5],
                        ],
                        borderWidth: 1
                    },

                ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    stacked: true,
                },
                x: {
                    beginAtZero: true,
                    stacked: true,
                }
            }
        }
    });



    const ctx4 = document.getElementById('kpi4');
    const myChart4 = new Chart(ctx4, {
        type: 'doughnut',
        data: {
            labels: kpi4_obj.label,
            datasets: [{
                label: '',
                data: kpi4_obj.values,
                backgroundColor: [
                    kpi4_obj.color[0],
                    kpi4_obj.color[1],
                    kpi4_obj.color[2],
                ],
                borderColor: [
                    kpi4_obj.color[0],
                    kpi4_obj.color[1],
                    kpi4_obj.color[2],
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });




    const ctx4_did = document.getElementById('kpi4_did');
    const myChart4_did = new Chart(ctx4_did, {
        type: 'bar',
        data: {
            labels: kpi4_did_obj.did,
            datasets: 
            [
                {
                    label: 'Byte_Size_Error',
                    data: kpi4_did_obj.Byte_Size_Error,
                    backgroundColor: [
                        kpi4_did_obj.color[0],
                    ],
                    borderColor: [
                        kpi4_did_obj.color[0],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'No_Byte_Size_Error',
                    data: kpi4_did_obj.No_Byte_Size_Error,
                    backgroundColor: [
                        kpi4_did_obj.color[1],
                    ],
                    borderColor: [
                        kpi4_did_obj.color[1],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'No_Error',
                    data: kpi4_did_obj.No_Error,
                    backgroundColor: [
                        kpi4_did_obj.color[2],
                    ],
                    borderColor: [
                        kpi4_did_obj.color[2],
                    ],
                    borderWidth: 1
                },
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });




    const ctx5 = document.getElementById('kpi5');
    const myChart5 = new Chart(ctx5, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });


    const ctx6 = document.getElementById('kpi6');
    const myChart6 = new Chart(ctx6, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });



    const ctx7 = document.getElementById('kpi7');
    const myChart7 = new Chart(ctx7, {
        type: 'doughnut',
        data: {
            labels: kpi7_obj.label,
            datasets: 
            [
                {
                    label: '',
                    data: kpi7_obj.values,
                    backgroundColor: [
                        kpi7_obj.color[0],
                        kpi7_obj.color[1],
                        kpi7_obj.color[2],
                    ],
                    borderColor: [
                        kpi7_obj.color[0],
                        kpi7_obj.color[1],
                        kpi7_obj.color[2],
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grid: {
                        display: false
                    },
                    beginAtZero: true,
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
    });




    const ctx7_did = document.getElementById('kpi7_did');
    const myChart7_did = new Chart(ctx7_did, {
        type: 'bar',
        data: {
            labels: kpi7_did_obj.did,
            datasets: 
            [
                {
                    label: 'Decoded',
                    data: kpi7_did_obj.Decoded,
                    backgroundColor: [
                        kpi7_did_obj.color[0],
                    ],
                    borderColor: [
                        kpi7_did_obj.color[0],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Error_Message',
                    data: kpi7_did_obj.Error_Message,
                    backgroundColor: [
                        kpi7_did_obj.color[1],
                    ],
                    borderColor: [
                        kpi7_did_obj.color[1],
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Negative_Response',
                    data: kpi7_did_obj.Negative_Response,
                    backgroundColor: [
                        kpi7_did_obj.color[2],
                    ],
                    borderColor: [
                        kpi7_did_obj.color[2],
                    ],
                    borderWidth: 1
                },
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock content %}